*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article{
    background-color: #D8D8D8;
    border: 1px solid #979797;
}

.contenedor{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
}

.sec1{
    width: calc(50% - 10px);
    height: 300px;
    margin-right: 20px;
    display: inline-block;
}
.sec1:last-child{
    margin-right: 0;
}


.subcontenedor{
    margin-bottom: 20px;
    font-size: 0;
}

.subcontenedor2{

    height: 200px;
    position: relative;
    background-color: #D8D8D8;
    border: 1px solid #979797;
    overflow: hidden;
    
}

.sec2{
    width: calc(100%/3 - 40px/3);
    height: 120px;
    margin-right: 20px;
    display: inline-block;
}

.sec2:last-child{
    margin-right: 0;
}


.head{
    height: 80px;
    max-width: 1024px;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    background-color: #D8D8D8;
    border: 1px solid #979797;
    text-align: center;
    line-height: 80px;
}

.sec6{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-150px/2);
    margin-left: calc(-150px/2);

}

@media (max-width:500px){

    .sec1, .sec2{
        width: 100%; 
        margin-bottom: 20px; 
    }

    .subcontenedor{
        margin-bottom: 0;
    }

}